/*
*
* ABOUT GAME START
*
*/

.about-game{
	background-color: $white;
}

.description{
	text-align: center;
	p{
		margin-bottom: 20px;
	}
}

.advantages{
	justify-content: space-between;
}

.advantages-box{
	text-align: center;
	width: 32%;
	margin-top: 15px;
}

/*
*
* ABOUT GAME END
*
*/


